@reboot sleep 300 && /home/${username}/sunkenland/backup_sunkenland.sh >> /home/${username}/sunkenland/backup.log 2>&1
@hourly /home/${username}/sunkenland/backup_sunkenland.sh >> /home/${username}/sunkenland/backup.log 2>&1
