[Unit]
Description=Sunkenland Service
Wants=network-online.target
After=syslog.target network.target nss-lookup.target network-online.target

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
Restart=on-failure
RestartSec=10
User=${host_username}
Group=${host_username}
WorkingDirectory=${game_dir}
ExecStartPre=/home/${host_username}/Steam/steamcmd.sh +force_install_dir ${game_dir} +login anonymous +@sSteamCmdForcePlatformType +app_update ${steam_app_id} validate +quit
ExecStart=${game_dir}/bootstrap_sunkenland.sh
KillSignal=SIGINT
ExecStopPost=${game_dir}/backup_sunkenland.sh
